*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("../Background-Color-58.webp");
    height: 100vh;
    
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    width: 2000px;
    height: 1000px;
    margin-left: 400px;
    margin: auto;
    margin-top: 550px;
    background-color: white;
}
.container__form{
    width: 700px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-left: 200px;
    height: 100px;
    
    
}
.container__form::placeholder{
    font-size: 40px;
    
}
.container__form:focus{
    color: blue;
   border-bottom-color: blue;
   font-size: 40px;
}
.container__form > label{
    
        
        bottom: 15px;
        transition: 0.3s;
        
    }
